canvas {
    border: 1px solid black;
}

html,
body {
    margin: 0;
    overflow: hidden;
}

#scenes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#scenes>div {
    width: 100%;
    height: 100%;
}

#phone_out {
    z-index: 1;
    background-color: #1d1e23;
    padding: 10px;
    border-radius: 21px;
    width: 520px;
    height: 280px;
    position: relative;
    animation: phone_apparition;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#phone_in {
    background-color: #393d4c;
    padding: 10px;
    border-radius: 6px;
    width: 460px;
    height: 260px;
    margin-left: 20px;
    color: white;
}

#phone_button {
    width: 18px;
    height: 55px;
    border: #393d4c 2px solid;
    position: absolute;
    right: 6px;
    border-radius: 9px;
}

#phone_speaker {
    position: absolute;
    background-color: black;
    width: 6px;
    height: 40px;
    left: 13px;
    border-radius: 20px;
}

#phone_camera {
    position: absolute;
    background-color: #1d1e23;
    border: 4px solid #393d4c;
    width: 12px;
    height: 12px;
    left: 10px;
    top: 172px;
    border-radius: 20px;
}

@keyframes phone_apparition {
    from {
        transform: translateY(30vh)rotate(45deg);
    }
    to {
        transform: translateY(0vh)rotate(0deg);
    }
}

#mobile_popup_orientation {
    position: absolute;
    top: 0;
    padding: 20px;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 2.5vh;
    color: white;
    background-color: #262831;
    animation: mobile_popup_orientation_apparition;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes mobile_popup_orientation_apparition {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#hello_mobile_token_game {
    width: 50vw;
    border-bottom: 3px solid white;
    border-radius: 3px;
    height: 25vh;
    line-height: 25vh;
    font-size: 15vh;
    text-align: center;
    color: white;
    transition-duration: .3s;
}

#waiting_room_start_game {
    position: absolute;
    bottom: 35px;
    display: none;
}